{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}

<body>
    <div class="section">
        <div class="container">

            <div class="content-section">
                <div class="title">
                    <h1 class="text-centers">About us</h1>
                </div>
                <div class="content">
                    <h3>Online Trading </h3>
                    <p>
                        <b>This is one of the renowned shopping website all over Nepal world.Yet, we were encouraged to start
                            not just a company but an ecommerce industry that would have a significant impact in world
                            economy for generations to come.We provide you best service than other websites. Today, this
                            website is one of the leading ecommerce companies in Asia with millions of customers and
                            thousands of vendors / partners all over world.</b>
                    </p>
                    <h3>Why us?</h3>
                    <p>
                        We are providing free delivery facility to our daily costumer's.We are replacing/refunding the
                        damaged products within 1week of delivering the products.We have quality products in low
                        price.We have exciting deals/discount vouchers every week.
                        </p>

                </div>
                <div class="image-section">
                    <img src="">
                    <h4>
                        <b>From payment to delivery we keep your order safe without charges!!</b>
                    </h4>

                </div>
            </div>
        </div>
</body>
{% endblock %}