{% extends 'base1.html' %}

{% block title %}Items{% endblock title %}

{% block body %}
<style>
    img{
            max-width: 20vw;
        }
</style>
<div class="mainbox d-flex my-4">
    <div class="leftbox w-50 min-vh-100 d-flex justify-content-center align-items-center">
        <img src="static\GalaxyS212.jpg" alt="">
    </div>
    <div class="rightbox w-50 min-vh-100">
        <h4 class="p-3">
            SAMSUNG Galaxy S21 Ultra 5G Factory Unlocked Android Cell Phone 128GB US Version Smartphone Pro-Grade Camera 8K Video 108MP High Res, Phantom Silver
        </h4>    
        <div class="p-5">
            <h5>About Item</h5>
            <li>PRO-GRADE CAMERA: Zoom in close with 100X Space Zoom, and take photos and videos like a pro with our easy-to-use, multi-lens camera.</li>
            <li>SHARP 8K VIDEO: Capture your life’s best moments in head-turning, super-smooth, cinema quality 8K Video.</li>
            <li>ALL DAY INTELLIGENT BATTERY: Intuitively manages your cellphone’s usage, so you can go all day without charging.</li>
            <li>POWER OF 5G: Experience next-generation connectivity for everything you love to do: more sharing, more gaming, more experiences.</li>
            <li>HIGHER RESOLUTION, 100X ZOOM: Get amazing clarity with a dual lens combo of 3X and 10X optical zoom and revolutionary 100X Space Zoom.</li>
            <a class="text-decoration-none text-light" href="/payment"><button type="button" class="btn btn-outline-light btn-danger my-4">Buy Now</button></a>
                
        </div>
    </div>

</div>

{% endblock %}