{% extends 'base1.html' %}

{% block title %}Items{% endblock title %}

{% block body %}
<style>
    img{
            max-width: 20vw;
        }
</style>
<div class="mainbox d-flex my-4">
    <div class="leftbox w-50 min-vh-100 d-flex justify-content-center align-items-center">
        <img src="static/gamingchair.jpg" alt="">
    </div>
    <div class="rightbox w-50 min-vh-100">
        <h4 class="p-3">
        AKRacing Masters Series Max Gaming Chair with Wide Flat Seat, 400 Lbs Weight Limit, Rocker and Seat Height Adjustment Mechanisms - Red
            
        </h4>    
        <div class="p-5">
            <h5>About Item</h5>
            <li>Extra large size: wide metal frame with anti-corrosive coating covered with high-density cold-curved foam padding for maximum comfort and durability</li>
            <li>top quality upholstery: PU leather on front and back - Easy to clean and guaranteed to last for at least 5 years backed by manufacturer warranty.</li>

            <li>400 lbs weight capacity: advanced mechanism with adjustable rocking function and lockable tilt positions and custom heavy Duty gaslift can support up to 400 lbs.</li>
            <li>Adjustable headrest and lumbar support pillows for comfort and enhanced ergonomics included.</li>
            <li>4D armrests: adjustable in four directions: up & down, back & forth, in & out, and rotate to the sides.</li>
            <a class="text-decoration-none text-light" href="/payment"><button type="button" class="btn btn-outline-light btn-danger my-4">Buy Now</button></a>
                
        </div>
    </div>

</div>

{% endblock %}