{% extends 'base1.html' %}

{% block title %}Items{% endblock title %}

{% block body %}
<style>
    img{
            max-width: 20vw;
        }
</style>
<div class="mainbox d-flex my-4">
    <div class="leftbox w-50 min-vh-100 d-flex justify-content-center align-items-center">
        <img src="static\mic.jpg" alt="">
    </div>
    <div class="rightbox w-50 min-vh-100">
        <h4 class="p-3">
        HyperX QuadCast - USB Condenser Gaming Microphone, for PC, PS4, PS5 and Mac, Anti-Vibration Shock Mount, Four Polar Patterns, Pop Filter, Gain Control, Podcasts, Twitch, YouTube, Discord, Red LED
            
        </h4>    
        <div class="p-5">
            <h5>About Item</h5>
            <li>Radiant red lighting with dynamic effects: Stunning red lighting and dynamic effects for an eye-catching shot of customizable style.</li>
            <li>Built-in anti-vibration shock mount: Isolate the mic and suppress the sound of unintentional rumbles and bumps with the elastic rope suspension.</li>

            <li>Tap-to-mute sensor with LED status indicator: Use the convenient tap-to-mute functionality to prevent an audio accident along with the help of the LED mic status indicator. If the light is on, the mic is active, if the light is off, the mic is muted.</li>
            <li>Four selectable polar patterns: Choose between four polar patterns (stereo, omnidirectional, cardioid, bidirectional) to optimize your broadcast setup and keep the focus on the sounds you want to be heard.</li>
            <li>Versatile adapter fits 3/8-inch and 5/8-inch threaded setups, compatible with most mic stands or boom arms. The internal pop filter helps block plosive sounds from hitting the mic, and you can monitor the mic via the headphone jack.</li>
            <a class="text-decoration-none text-light" href="/payment"><button type="button" class="btn btn-outline-light btn-danger my-4">Buy Now</button></a>
                
        </div>
    </div>

</div>

{% endblock %}